@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
:root {
  --font-sans: Nunito Sans, Nunito Sans Fallback;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --foreground-danger: 345 82.7% 40.8%;

  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --input-invalid: 0 84.2% 60.2%;

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --accent: 210 40% 90%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --ring: 215 20.2% 65.1%;

  --radius: 0.5rem;
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;

  /* prefixed with foreground because it should look good on the background */
  --foreground-danger: -4 84% 60%;

  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;

  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;

  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;

  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --input-invalid: 0 62.8% 30.6%;

  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;

  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;

  --accent: 217.2 32.6% 10%;
  --accent-foreground: 210 40% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 85.7% 97.3%;

  --ring: 217.2 32.6% 17.5%;
}
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@media print {
  /* ซ่อนเมนู, ปุ่ม Pagination, หรือส่วนที่ไม่ต้องการพิมพ์ */
  /*nav, */
  /*.pagination, */
  /*button, */
  input[type="number"], 
  input[type="text"] {
    display: none !important;
  }

  /* ปรับขนาดฟอนต์ให้เหมาะกับการพิมพ์ */
  body {
     -webkit-print-color-adjust: exact; /* ให้สีพิมพ์ตรงกับหน้าจอ */
    print-color-adjust: exact;
    font-size: 12pt;
    color: #000; /* กำหนดสีดำ เพื่อความคมชัด */
    background: none !important;
  }

  footer {
    display: none !important;
  }
  /* จัด layout ให้เต็มหน้ากระดาษ */
  .container{
    page-break-after: avoid;
  }
  .machine-list-wrapper {
    width: 100% !important;
    margin: 0;
    padding: 0;
  }

  /* ปรับความกว้างของคอลัมน์สำหรับการพิมพ์ */
  .left-col {
    width: 150px !important;
  }
  
  .right-col {
    width: auto !important;
  }

  /* ปรับสีแท่งสถานะให้แสดงผลดีบนกระดาษ */
  .status-running {
    background-color: #00b300 !important;
  }
  .status-stop {
    background-color: #e60000 !important;
  }
  .status-off {
    background-color: #555 !important;
  }

  /* ปรับ tooltip หรือ element ที่ลอยขึ้น */
  .tooltip {
    display: none !important;
  }

  /* ปรับเวลาบนแกนเวลาให้เห็นชัดเจน */
  .time-scale {
    font-size: 10pt !important;
    color: #000 !important;
  }
}